body {
  user-select: none;
  overflow: hidden;
}

* {
  font-family: monospace;
}

#stats {
  display: none;
}

#log {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  background-color: black;
  color: #eee;
  font-weight: bold;
  font-size: 0.8em;
  width: 10em;
  overflow-x: hidden;
}

#preset {
  position: fixed;
  top: 0;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  z-index: 100;
}

#editor {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  overflow: hidden;
  padding-top: 40px;
  font-size: 1.6em;
  background-color: rgba(0,0,0,0.2);
  color: #111;
  text-shadow: 2px 1px rgba(255,255,255,0.99);
}
#error {
  display: none;
  position: fixed;
  z-index: 100;
  right: 0;
  bottom: 33%;
  top: 100px;
  width: 33%;
  overflow-x: hidden;
  overflow-y: auto;
  color: rgba(255,10,10,0.9);
  background-color: rgba(255,255,255,0.8);
  font-size: 1.2em;
  font-weight: bold;
  text-shadow: 1px 1px 0 white;
}

#eval {
  position: fixed;
  z-index: 1000;
  right: 0;
  bottom: 0;
}

#editor.enabled,
#error.enabled,
#log.enabled,
#stats.enabled {
  display: block;
}