body {
  user-select: none;
  overflow: hidden;
}

#log {
  position: fixed;
  top: 0;
  right: 0;
  background-color: black;
  color: white;
  font-weight: bold;
  font-family: monospace;
  font-size: 0.8em;
  width: 10em;
  overflow-x: hidden;
}

#editor {
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  font-size: 2em;
  width: 100%;
  overflow: hidden;
  padding-top: 40px;
  background-color: rgba(0,0,0,0.3);
  font-family: monospace;
  color: white;
  text-shadow: 1px 1px rgba(0,0,0,0.8);
}

#error {
  position: fixed;
  z-index: 100;
  right: 0;
  bottom: 0;
  top: 0;
  width: 50%;
  overflow: hidden;
  background-color: rgba(255,0,0,0.3);
  color: white;
  font-family: monospace;
  font-size: 1.2em;
}

#eval {
  position: fixed;
  z-index: 1000;
  right: 0;
  bottom: 0;
  
}